body {
    font-family: 'Mukta Mahee', sans-serif;
}

h1,
h2,
h3,
h4 {
   font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 84px;

}

h2 {
    font-size: 32px;
    text-transform: capitalize;
}

section {
    height: 100vh;
}


.hero-section {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(/imgs/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-blend-mode: multiply;
    /* display: flex; */

}

.hero-section .navbar {
    max-width: 1550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 32px;
}


.hero-container {
    text-align: center;
    line-height: 6rem;
    align-content: center;
    margin-top: 50vh;
    transform: translateY(-90%);

}

.hero-container p {
    font-size: 30px;
    font-weight: 100;
    opacity: 0.9;
}

.hero-container p span {
    color: #d7dce1c5;
    text-decoration: underline;
    /* text-underline-offset: 0.5em; */
    
}

.hero-button {
    padding: 24px;
    font-size: 12px;
    background-color: transparent;
    color: white;
    border: solid 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: white;
    box-shadow: none;
    letter-spacing: 4px;
    margin-top: 20px;
    
}


.hero-bottom {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    margin-top: 70px;
    opacity: 0.9;
}

.hero-bottom i {
    font-size: 18px;
}

.container {
    display: flex;
    gap: 65px;
    justify-content: center;
    max-width: 1100px;
    /* flex-wrap: wrap; */
    padding: 10px;
    margin: 100px auto;
}


.welcome-photo img {
    width: 540px;
}

.welcome-text {
    margin-top: 150px;
    line-height: 2rem;
}

.welcome-text h2{
    line-height: 5rem;
}

.welcome-text p {
    color: #6c757d, ;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 200;
}

.video-playback {
    display: flex;
    justify-content: left;
}

.video-playback i {
    font-size: 16px;
    color: #65c0ba;
    padding: 15px 15px 15px 18px;
    border: 2px solid #bfc4c981 ;
    border-radius: 75px;
    margin-right: 20px;
}

.video-playback p {
    margin-top: 10px;
    font-size: 18px;
    color: #65c0ba;
    opacity: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}