/* ************** Global Variables ************** */

:root {
    --primary-color: #65c0ba;
    --gutter: 32px;
    --container-margin: 50px auto;
    --text-color: #6c757d;

}





/* ************** Body & General ************** */


body {
    font-family: 'Mukta Mahee', sans-serif;
}

h1,
h2,
h3,
h4 {
   font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 84px;

}

h2 {
    font-size: 32px;
    text-transform: capitalize;
}

h3 {
    text-transform: capitalize;
}

section {
    height: 100vh;
}

p {
    line-height: 2rem;

}

section {
    padding: 100px auto;
}


/* ************** Hero Section ************** */


.hero-section {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(/imgs/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-blend-mode: multiply;
    /* display: flex; */

}

.hero-section .navbar {
    max-width: 1550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 32px;
}


.hero-container {
    text-align: center;
    line-height: 6rem;
    align-content: center;
    margin-top: 50vh;
    transform: translateY(-90%);

}

.hero-container .title {
    line-height: 6rem;

}

.hero-container p {
    font-size: 30px;
    font-weight: 100;
    opacity: 0.9;
}

.hero-container p span {
    color: #d7dce1c5;
    text-decoration: underline;
    /* text-underline-offset: 0.5em; */
    
}

.hero-button {
    padding: 24px;
    font-size: 12px;
    background-color: transparent;
    color: white;
    border: solid 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: white;
    box-shadow: none;
    letter-spacing: 4px;
    margin-top: 20px;
    
}


.hero-bottom {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    /* margin-top: 70px; */
    opacity: 0.9;
}

.hero-bottom i {
    font-size: 18px;
}

/* ************** Welcome Section ************** */

.container {
    display: flex;
    gap: var(--gutter);
    justify-content: center;
    max-width: 1100px;
    /* flex-wrap: wrap; */
    padding: 10px;
    margin: 0 auto;
}

.welcome .container {
    /* margin: var(--container-margin); */
    margin: 150px auto;
}

.welcome-photo img {
    width: 540px;
}

.welcome-text {
    margin-top: 150px;
    line-height: 2rem;
}

.welcome-text h2{
    line-height: 5rem;
}

.welcome-text p {
    color: #6c757d, ;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 200;
}

.video-playback {
    display: flex;
    justify-content: left;
}

.video-playback i {
    font-size: 16px;
    color: #65c0ba;
    padding: 15px 15px 15px 18px;
    border: 2px solid #bfc4c981 ;
    border-radius: 75px;
    margin-right: 20px;
}

.video-playback p {
    margin-top: 10px;
    font-size: 18px;
    color: #65c0ba;
    opacity: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* ************** Experience Section ************** */


.experience {
    background-color: #fafafa;
    padding: 50px 0;
}

.info {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    justify-content: center;
    line-height: 4rem;
    max-width: 750px;
}

.experience.info p {
    font-size: 20px;
    opacity: 0.7;
}

/* .experience-benefit {
    gap: 20px;
} */

.container.experience {
    padding-top: 10px;
}

.benefit {
    margin: calc(var(--gutter) / 2);
    text-align: center;
}

.benefit img {
    width: 20%;
}

.benefit h3 {
    font-size: 28px;
    line-height: 3rem;
}


.benefit p {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 200;
}

/* ************** Tour Management Section ************** */


section.tour-management {
    padding-top: 100px;
    height: 150vh;
    background-color: white;
    background-image: url(/imgs/Tour-managemenet-bg-hi-res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.tour-management h2 {
    font-size: 76px;
    line-height: 4rem;
    margin-bottom: 40px;
}

.tour-management p {
    font-size: 20px;
    opacity: 0.8;
    font-weight: 200;
}

.tour-management .container img {
    width: 1100px;
    padding-top: 40px;
    border: none;
}

.tour-management .container i {
    margin: 400px 0;
    font-size: 40px;
}

/* ************** Blog Posts Section ************** */

.blog-posts {
    margin: 0 auto;
    padding: 0 auto;
}

.blog-posts {
    background-color: var(--primary-color);
    --gutter:16px;
}

.blog.info {
    padding: var(--container-margin);
}

.blog.info h2 {
    font-size: 70px;
    line-height: 8rem;
}

.blog.info p {
    font-size: 20px;
    line-height: 2.2rem;
    color: white;
    font-weight: 200;
    opacity: 0.7;
    margin-bottom: 50px;
}

.blog-posts .container {
    justify-content: center;
}

.card {
    background-color: white;

}

.card img {
    width: 100%;
}

.card-text {
    margin: 30px;
}

.card-text .date {
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0.4;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

/* .card .card-text p.date {
    text-transform: uppercase;
} */

.card .card-text h3 {
    font-size: 26px;
    margin-bottom: 15px
}

.card .card-text p.description {
    font-size: 18px;
    font-weight: 200;
    color: var(--text-color);
    opacity: 0.9;

}




/* ************** Customers Section ************** */

.happy-customers {
    background-color: #fafafa;
    padding: 100px;
    height: 50vh;
}

.happy-customers h2 {
    font-size: 72px;
    margin-bottom: 80px;
}

img.testimonial {
    width: 70px;
    border-radius: 35px;
    margin-bottom: 10px;
}

p.testimonial {
    font-style: italic;
    font-size: 19px;
    font-weight: 100px;
    /* color: var(--text-color); */
    margin-bottom: 10px;
}

p.name {
    font-style: italic;
    font-size: 18px;
    font-weight: 100px;
    color: var(--text-color);
    opacity: 0.7;
}


/* ************** Destination Section ************** */

.destinations {
    padding: 100px;
    height: 50vh;
}

.destination.info p {
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 300;
}

.destination.card {
    padding: 0;
}

.destination.card img{
    width: 250px;
    height: 170px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.destination.card .card-text {
    margin: 0;
    margin-top: 15px;
}


.destination.card .card-text h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1rem;
    justify-content: left;
}

.reviews {
    /* margin: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rating {
    color: #65c0ba;
    font-size: 12px;
}


p.review-count {
    color: var(--text-color);
    opacity: 0.4;
    font-style: italic;
}



/* ************** Footer Section ************** */



.footer {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    line-height: 3rem;
    height: 70vh;
}

.footer .container {
    justify-content: space-around;
}


.footer-top {
    margin: 100px 0;
}

.footer h3 {
    line-height: 4rem;
    color: white;
}


.contact-point {
    font-style: italic;
    color: white;
}

.footer-top i {
    color: white;
}

.footer-top input[type=text]{
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #1a1a1a;
}



.footer-bottom {
    margin: 50px auto;
    text-align: center;

}

.socials {
    margin: 20px auto;
    max-width: 600px;
    justify-content: center;
}


.socials i {
    padding: 0 10px;
}