body {
    font-family: 'Mukta Mahee', sans-serif;
}

h1,
h2,
h3,
h4 {
   font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 84px;

}

h2 {
    font-size: 32px;
}

section {
    height: 100vh;
}


.hero-section {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(/imgs/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* background-color: black; */
    background-blend-mode: multiply;
    /* display: flex; */

}

.hero-section .navbar {
    /* padding: 50px auto; */
    max-width: 1500px;
    margin: auto;
    /* align-content: center; */
    /* display: flex; */
    /* align-content: space-between; */
}


.hero-section .navbar i {
    font-size: 32px;
    float: right;    
}

.hero-section .navbar p {
    font-size: 32px;
    float: left;
}


/* .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
} */

.hero-container {
    text-align: center;
    line-height: 6rem;
    align-content: center;
    margin-top: 50vh;
    transform: translateY(-60%);

}

.hero-container p {
    font-size: 30px;
    font-weight: 100;
    opacity: 0.9;

}

.hero-container p span {
    color: #d7dce1c5;
    text-decoration: underline;
    /* text-underline-offset: 0.5em; */
    
}

.hero-button {
    padding: 24px;
    font-size: 12px;
    background-color: transparent;
    color: white;
    border: solid 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: white;
    box-shadow: none;
    letter-spacing: 4px;
    margin-top: 20px;
    
}


.hero-bottom {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    margin-top: 70px;
    opacity: 0.9;
}

.hero-bottom i {
    font-size: 18px;
}

.container {
    display: flex;
    /* gap: 8px; */
    justify-content: space-between;
    max-width: 960px;
}



